
.contenedor_scroll_reportes{
	overflow-y:scroll;
	overflow-x:scroll;
	height:200px;
	background-color:#E3E3E3;
}
.tablas_reportes th{
	border-top-left-radius:0.3em;
	border-top-right-radius:0.3em;
	border:1px solid black;
	background-color:rgb(80,184,72);
	color:white;
}
.tablas_reportes td{
	font-size:11px;
	border:1px solid black;
}